@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

*{
    margin:0;
    padding:0;
    /*box-sizing: border-box;*/
}

html{
    font-family: "Raleway";
}

.header{
    display: flex;
    justify-content: center;
    background-image: url("../assets/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    position: relative;
}


.header:after{
    content: "";
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.container{
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-nav{
    width: 650px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

h1{
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;
}

.nav-button{
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-button:hover{
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #000000;
    opacity: 1;
    border-bottom: 4px solid #08A6E4;

}